<!-- editar cliente -->
 <!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nuevo Cliente</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <div class="container">
      <h1>✏️ Editar Cliente</h1>
      <nav>
        <a href="/">Inicio</a>
        <a href="/clientes">Clientes</a>
      </nav>
    </div>
  </header>

  <div class="container">
    <main>
      <a href="/clientes" class="back-link">← Volver a clientes</a>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="flash-messages">
            {% for category, message in messages %}
              <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
<!-- The method is not allowed for the requested URL. -->
        <form method="post">
            <label for="nombre">Nombre *</label>
            <input type="text" id="nombre" name="nombre" required placeholder="Ej: Juan Pérez" value="{{ cliente[1] }}">
    
            <label for="cuit">CUIT</label>
            <input type="text" id="cuit" name="cuit" placeholder="Ej: 30-XXXXXXXX-X " value="{{ cliente[3] }}">
    
            <label for="telefono">Teléfono (opcional)</label>
            <input type="text" id="telefono" name="telefono" placeholder="Ej: +54 9 11 1234-5678" value="{{ cliente[2] }}">
    
            <button type="submit">✅ Guardar Cambios</button>
        </form>
    </main>
  </div>