<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Inicio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="layout">
    <div class="sidebar">
      <h2><span>💼 Negocio</span></h2>
      <a href="/"><span>📊 Inicio</span></a>
      <a href="/inventario"><span>📦 Inventario</span></a>
      <a href="/ventas"><span>🛒 Ventas</span></a>
      <a href="/clientes"><span>👥 Clientes</span></a>
      <a href="/ventas_historial"><span>📈 Ventas Hist.</span></a>
      <a href="/cargar_excel"><span>📤 Cargar Excel</span></a>
      <a href="/reporte/excel"><span>📥 Reporte</span></a>
      <a href="/logout" style="margin-top: auto; color: #e63946;"><span>🚪 Cerrar sesión</span></a>
    </div>

    <div class="main-content">
      <main>
      </main>
    </div>
  </div>
</body>
</html>